/* Body */
body {
    background-color: #e3eeed;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

/* Text Cusomisations */
h1 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

.text-center {
    text-align: center;
}

p {
    text-align:justify;
    padding-top: 10px;
}

/* Images */
img {
    width: 100%;
    height: 100%;
}

.active, .panel:hover {
    border: #296059 solid;
}

/* Used for landing page image in summary box */
.float-left {
    float: left;
}

/* Prioritise the smaller image resolution when using this tag */
.summary-img {
    width: 55%!important;
}

/* Box Classes */
.box {
    margin-top: 60px; 
    margin-bottom: 50px; 
    padding: 20px 30px; 
    color:rgb(46, 82, 82);
    background-color: white;
}

.data-box {
    margin-top: 60px; 
    margin-bottom: 50px; 
    padding: 20px 10px; 
    color:rgb(46, 82, 82);
    background-color: white;
}

/* Row class with padding */
.row-padding {
    padding-bottom: 20px;
}

/* Column headers align left in data datable */
th {
    text-align: left;
}

/* Navbar customisations on top of bootstrap */
.navbar-brand {
    padding:inherit;
    color:#296059!important;
    font-weight:bold!important;
    background-color:#e3eeed!important;
}

.navbar-brand:hover {
    color:#88c5be!important;
}

.nav-link {
    color:white!important;
}

.nav-link:hover {
    background-color:#b9d1ce!important;
}

/* Media query to change colour of navbar for small screen */
@media (max-width: 992px) {
    .navbar-expand-lg {
        background-color:#88c5be!important;
    }
    .navbar-brand {
        background-color: #296059!important;
        color:#e3eeed!important;
    }

    #navbarSupportedContent {
        background-color: #ffffff!important;
    }

    .nav-link {
        color: #296059!important;
    }

    button {
        background-color:#296059!important;
    }
}